= navbar fixed: :top do
  = navbar_header brand: "Práce s traumatem u dětí - Maggie Klein", brand_link: root_path
  = navbar_collapse do
    = navbar_group align: 'right' do
      = navbar_item root_path do
        %span.glyphicon.glyphicon-home
      = navbar_item "Program", '/program'
      = navbar_item "Podmínky", '/podminky'
      = navbar_item new_subscriber_path do
        Registrace
