.container-fluid.mt-48
  .row
    #program
.container.program
  .row
    .col-md-12.text-center
      %h1.nadpis Program workshopu a cena
    .col-md-6
      %p
        Workshop je rozdělen do dvou částí, přičemž
        %strong pro účast na workshopu je nutné mít absolvované Intro, nebo výcvik v SE.
        Intro lze absolvovat před workshopem nebo uznáme dříve absolvovaná Intra.
      %ol
        %li Intro - je určeno pro ty, kteří dosud nemají výcvik v metodě SE
        %li Vlastní workshop
    .col-md-6
      %table.table-striped.table-bordered.table
        %tr
          %th Intro
          %th Workshop
          %th Intro + workshop

        %tr
          %td 31.8.2017
          %td 1.9 - 3.9. 2017
          %td 31.8 - 3.9. 2017

        %tr
          %td Chci pouze Intro
          %td Chci pouze Workshop
          %td Chci Intro + Workshop

        %tr
          %td 2 500 Kč
          %td 8 900 Kč
          %td 11 000 Kč
.container-fluid.info
  .row
    .col-md-10.col-md-offset-1.text-center
      %h1.nadpis Detailní informace
    .col-md-10.col-md-offset-1
      %div{:role => "tabpanel"}
        / Nav tabs
        %ul#tabs.nav.nav-pills{:role => "tablist"}
          %li.active{:role => "presentation"}
            %a{"aria-controls" => "intro", "data-toggle" => "pill", :href => "#intro", :role => "tab"} Intro
          %li{:role => "presentation"}
            %a{"aria-controls" => "workshop", "data-toggle" => "pill", :href => "#workshop", :role => "tab"} Workshop
          %li{:role => "presentation"}
            %a{"aria-controls" => "maggie", "data-toggle" => "pill", :href => "#maggie", :role => "tab"} Maggie Kline
        / Tab panes
        .tab-content
          #intro.tab-pane.active{:role => "tabpanel"}
            .col-sm-6
              %h3
                Intro
              %ul
                %li
                  Intro - úvod do základů metody SE, je jednodenní workshop určený pro všechny zájemce o třídenní workshop
                  %strong Práce s traumatem u dětí,
                  kteří nemají žádný výcvik v této metodě. Absolvování tohoto úvodu je podmínkou pro účast na třídenním workshopu Práce s traumatem u dětí.
                %li Seznámíte se s teorií, základními principy a metodami somatického prožívání dle Petera Levina.
                %li Účast na celém programu (Intro+Workshop) je vhodný jako úvod do SE pro zájemce o tříletý výcvik v Somatickém prožívání.
                = link_to 'www.somatic-experiencing.cz', 'http://somatic-experiencing.cz/'
            .col-sm-6
              %h3
                SE
              %p
                %strong
                  Somatic Experiencing
                  %sup &reg;
                  \/ Somatické prožívání (SE)
                je jedním z nejefektivnějších nástrojů pro léčení traumatu vyučovaný po celém světě. Je to přístup umožňující terapeutovi provést klienta náročnými stavy a situacemi. Somatické prožívání je specifická metoda práce s tělem a nervovým systémem. Nabízí základní přístup k porozumění a zvládání následků šoku a traumatu. Metoda tělesného prožívání pracuje přímo s autonomním nervovým systémem klienta a umožňuje tak dokončení vrozených obranných reakcí a obnovení rovnováhy nervového systému.  Skrze práci s vnímáním vlastního těla, titrací, pendulací a zdrojováním rozvíjí metoda SE schopnost uvědomit si a zpracovat vlastní stresové reakce a obnovit tak zdravou sebe-regulaci nervového systému a emocí. SE nabízí nástroje jak pro práci s akutním stresem, tak s různými kategoriemi traumat a posttraumatickou stresovou poruchou. Práce cestou zdrojů a seberegulace je velice efektivní metoda, která nezatěžuje klienta znovu přehráváním nebo opakováním traumatu, a umožňuje mu tak  obnovit jeho vlastní kapacitu a schopnost žít plnohodnotným a radostným životem.
                %ul
                  %li= link_to 'www.somatic-experiencing.cz', 'http://somatic-experiencing.cz/'
                  %li= link_to 'www.traumahealing.com', 'http://traumahealing.com/'
                  %li= link_to 'www.se-europe.info', 'http://se-europe.info/'
                  %li= link_to 'www.stephenporges.com', 'http://stephenporges.com/'
                  %li= link_to 'www.somaticexperiencing.com', 'http://somaticexperiencing.com/'
          #workshop.tab-pane{:role => "tabpanel"}
            .col-sm-12
              %h3
                Workshop
            .col-sm-6
              %ul
                %li
                  Třídenní workshop
                  %strong Práce s traumatem u dětí,
                  je určen pro ty, kteří absolvovali Intro - Úvod do základů metody Somatického prožívání nebo již mají výcvik v této metodě.
                %li
                  %strong
                    Obsah letošního workshopu bude s větším důrazem na téma léčby traumat způsobených stresovou situací lékařského zákroku nebo hospitalizací dítěte a téma přípravy na lékařský zákrok. Dále se budeme věnovat práci s dětmi z náhradní rodinné péče, které byly týrány nebo zneužívány v raném věku. Ukážeme si jak lze pracovat se studem, vinou a hranicemi u dítěte a jak je možné pracovat s celou rodinou dítěte.
                  %ul
                    %li seznámení se s vývojovými stádii dítěte z hlediska Somatického prožívání
                    %li náprava raných traumat a attachmentu pro podporu seberegulace skrze sociální kontakt
                    %li techniky pro uzemnění, smyslové vnímání a schopnosti trackování u dětí a dospívajících
                    %li propojení principů SE s arteterapeutickými tehnikami pro poskytnutí bezpečí, titrace a pendulace
                    %li přetváření her do aktivit Somatického prožívání obsahujících prvky cyklů nabití/vybití, které umožňují dětem trackování, orientaci, reakci boje nebo útěku, dávání hranic a zklidněním a integraci stavů přílišného rozrušení
                    %li práce se sexuálním traumatem, traumatem způsobeným lékařskými zákroky a truchlením
                    %li hry a aktivity, které lze použít při práci s dětmi po zásahu přírodních katastrof
                    %li workshop zahrnuje teorii, videonahrávky i sebezkušenostní prožikové techniky využitelné pro individuální i skupinové práce s dětmi
                %li workshop je určen pro psychology, pedagogy, terapeuty, rodiče a všechny kdo pracují s dětmi a také pro ty, kdo chtějí prohloubit své porozumění při práci s vnitřním dítětem u dospělých
                %li Zajištěn překlad z AJ do ČJ
                %li Tento workshop splňuje podmínky postgraduálního workshopu pro praktikanty a asistenty SE.
                %li Účast na celém programu (Intro+workshop) je vhodným úvodem do metody SE ro zájemce o tříletý výcvik v Somatickém prožívání.
            .col-sm-6
              %p
                %strong Maggie Kline
                bude na svém třídenní workshopu
                %strong Práce s traumatem u dětí
                učit jak pomoci dětem znovu navrátit k rovnováze jejich autonomní nervový systém na biologické úrovni přežití poté, co zažily pocit přehlcení traumatickou nebo stresující událostí. Využití herních technik a tvoření v kombinaci s metodou Somatického prožívání umožní uvolnit napětí a dokončit zadržené obranné reakce, aby mohlo dojít ke znovytvoření rovnováhy a obnovení orientace a obranných impulzů. Tím se zvýší kapacita pro rozvinutí zdravého attachementu a zdravé sociální vazby dítěte. Při terapii SE a hře je tak dětem umožněno, aby mohly uvolnit své napětí v atmosféře bezpečí a skrze přítomnost klidného dospělého obnovit důvěru v sebe a okolní svět.
          #maggie.tab-pane{:role => "tabpanel"}
            .col-sm-12
              %h3
                Maggie Kline
            .col-sm-2
              = image_tag ('maggie_klein.jpeg'), :class => "photo"
            .col-sm-10
              %p
                %strong Maggie Kline
                se téměř třicet let věnuje praxi v oblasti párové, rodinné a dětské terapie na Long Beach v Kalifornii a má dlouholeté zkušenosti jako učitelka a školní psycholožka. Vychází z oblasti humanistické psychoterapie, rodinných systémů a Gestalt psychoterapie s doplňkovým výcvikem v práci s tělem. Maggie je specialistkou na metodu
                %strong Somatic Experiencing (SE),
                léčení traumatu pomocí práce s tělem a nervovým systémem, také studovala Bodynamickou terapii a metodu EMDR.
              %p
                Při terapii s dětmi a dospívajícími integruje Maggie Kline metodu Somatic Experiencing  s uměním a  hrou. Je senior instruktorkou Somatic Experiencing trauma Institutu
                =link_to 'www.traumahealing.com', 'http://www.traumahealing.com'
                v  USA, Asii a Austrálii. V Evropě , Brazílii a Kanadě vede workshopy “Conscious Connections” a “SE for Kids”, určené pro odborníky pracující v pomáhajících profesích s dětmi, v oblasti výchovy a školství a pro rodiče.
              %p
                Maggie také vedla první tým dobrovolníků prasujících s SE v Thajsku po zásahu tsunami v Indickém oceánu v roce 2004 a vedla veřejný workshop po norském masakru v roce 2011. Přednášela na mezinárodních konferencích zaměřených na terapii hrou a trauma v Evropě a USA.
              %p
                Spolu s Peterem Levinem napsala knihy
                =link_to 'Trauma očima dítěte: Probouzení obyčejného zázraku léčení (Maitrea, 2012)', 'http://www.maitrea.cz/nakladatelstvi/trauma-ocima-ditete'
                a
                =link_to 'Prevence traumatu u dětí (Maitrea, 2014).', 'http://www.maitrea.cz/nakladatelstvi/prevence-traumatu-u-deti'
                A je také spoluautorkou článku It Won't Hurt Forever--Guiding Your Child through Trauma (Nebude to bolet navždy - jak provést vaše dítě traumatem: časopis Mothering, 2002). Nejnovějším projektem Maggie bylo 15 videorozhovorů, které byly natočeny a jsou zdarma k dispozici pro rodiče, aby mohli pomáhat svým dětem vyrovnat se s traumatem a ztrátou
                =link_to 'www.kidsinthehouse.com', 'http://www.kidsinthehouse.com'
                (2013).
